* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: #ffffff;
    max-width: 1280px;
    margin: 0 auto;
}

.header-nav {
    padding: 26px;
    width: fit-content;
    margin: 0 auto;
}

.header-nav-list {
    display: flex;
    list-style: none;
    font-weight: bold;
}

.header-nav-list-item {
    margin-left: 72px;
}

.header-nav-list-item:first-child {
    margin-left: 0
}

.header-nav-list-item a{
    font-weight: 700;
    text-decoration: none;
    color: #FF0000;
    font-size: 18px;
    letter-spacing: 3px;
}

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #ffffff;
}

.photo-preview {
    display: block;
    width: 100%;
    height: calc(100vh - 71px);
}

.title {
    padding-top: 48px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 4px;
}

.paragraph {
    padding: 28px 68px 0 68px;
    font-weight: 400;
    color: #373737;
    font-size: 16px;
    letter-spacing: 2px;
}

.btn {
    background-color: #FF0000;
    padding: 18px 43px;
    margin: 66px 545px 82px 545px;
    border-radius: 4px;
    color: #ffffff;
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
}

.signature {
    text-align: right;
    padding: 0 105px 29px 0;
    font-weight: bold;
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 1280px;
    box-sizing: border-box;
    letter-spacing: 3px;
}
