@import "scss_utils";

.hero {
  padding: 23px 28px 48px;
  display: flex;
  justify-content: center;

  @include screenFrom(768px, 1200px) {
    padding: 43px 0 56px;
    @include tabletCenter
  }

  @include screenFullSize {
    padding: 0 0 66px;
    @include fullSizeCenter

  }
  & img {
    width: 100%;
    min-height: 150px;
  }
}