// mixin

@mixin screenMobile {
  @media (min-width: 320px) and (max-width: 480px) {
    @content
  }
}

;

@mixin screenTablet {
  @media (min-width: 481px) and (max-width: 992px) {
    @content
  }
}

;

@mixin screenLaptopSize {
  @media (min-width: 993px) and (max-width: 1200px) {
    @content
  }
}

;

@mixin screenFullSize {
  @media (min-width: 1200px) {
    @content
  }
}

;

@mixin contentCenter($width) {
  margin: 0 auto;
  max-width: $width;
}

;

$mainPadding: 0 10px;