@import "./reset.scss";
@import "./scss_utils";
@import "./header-nav.scss";
@import "./hero_fork.scss";
@import "./people_talking.scss";
@import "./revolutionary_editor";
@import "./what_you_get";
@import "./pricing";
* {
  list-style: none;
}

body {
  min-width: 320px;
  margin: 0 auto;
  overflow-x: hidden;
  font-size: 14px;
}
