* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

/*font-family: 'Open Sans', sans-serif;*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: #313131;
    max-width: 100%;
}
.text-btn {
    display: inline-block;
    padding-left: 22px;
    font-weight: bold;
    font-size: 22px;
    color: #ffffff;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 20px 20px 30px;
}
/*.text-btn:hover {*/
/*    color: #14B9D5;*/
/*}*/
.nav-menu-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.nav-menu-items {
    padding: 0 35px;

}
.nav-menu-items-link {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s all ease-in-out;
}
.nav-menu-items-link:hover {
    color: #14B9D5;
}
.btn-search-icon {
    background-color: black;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    padding: 30px;
}
.btn-search-icon-svg {
    fill: white;
    stroke: black;

}
.hero {
    height: 350px;
    background-size: cover;
    background-position: center;
    background-image: url("../img/header-background.png");
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    padding-bottom: 74px;
    box-sizing: border-box;
}
.hero-text {
    font-size: 27px;
    font-weight: bold;
}
.hero-buttons {
    padding-top: 44px;
    display: inline-block;
}
.hero-link {
    background-color: #89CA62;
    padding: 17px 20px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}
.hero-buttons .hero-link:last-child {
    margin-left: 20px;
    padding: 17px 30px;
}
.hero-link-secondary {
    background-color: #14B9D5;
}
.gallery-posts {
    background-color: #F2F2F2;
    padding: 50px 0 70px 0;
}
.title-gallery {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #18B4CF;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 27px;
}
.gallery-posts-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 828px;
    /*justify-content: center;*/
    /*margin-left: 300px;*/
    /*margin-right: 300px;*/
    max-width: calc(430px + 370px + 370px);
    gap: 30px;
    margin: 0 auto;
}
.gallery-posts-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    /*margin: 30px;*/
    box-sizing: border-box;
    max-width: 370px;
}
.gallery-posts-list-item>a {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #353A3D;
    padding: 20px 0;
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    text-align: center;
}

